body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

.navbar {
  background-color: #3b5998;
  color: white;
  padding: 10px;
  text-align: center;
}

.navbar-logo {
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.navbar-logo:hover, .navbar-logo:focus {
  color: #dfe3ee;
}

.profile-header {
  text-align: center;
  position: relative;
}

.cover-photo {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  left: calc(50% - 75px);
  border: 3px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-top: 100px;
  color: #333;
  font-size: 2em;
  font-weight: bold;
}

.profile-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.left-sidebar, .profile-main, .right-sidebar {
  flex: 1;
  margin: 10px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  /* ... tus estilos responsivos existentes ... */
}

/* Estilos para Información Personal, Galería de Fotos y Muro */
.personal-info, .photo-gallery, .wall {
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.personal-info h2, .photo-gallery h2, .wall h2 {
  margin-top: 0;
  color: #3b5998;
}

/* Hover effects para la galería */
.photo-gallery .gallery img:hover {
  transform: scale(1.03);
  transition: transform 0.3s;
  cursor: pointer;
}

/* Estilos para el Muro */
.post {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
  transition: background-color 0.3s;
}

.post:last-child {
  border-bottom: none;
}

.post:hover {
  background-color: #f9f9f9;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-user-info strong {
  display: block;
  color: #3b5998;
}

.post-content p {
  margin: 0;
}
